#elFooter{
	text-align: center;
}
#map-canvas {
	
    width:680px;
    height:400px;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px;
    display: inline-block;
    
 }
 .icono{
 	margin-left: 8%;
 }
 .title{
 	font-family: 'lobster Two', 'Regular';
 	margin-left: 40%;
 	margin-top: 30px;
 	margin-bottom: 30px;
 	text-align: center;
 }
 .cabecera{
 	background-image: url('../img/bannerNombre.png');
 	height:300px;
 	width:100%;
 }
#lienzo{
	background-image: url('../img/target.png');
	float: left;
	margin-top: 8%;
	margin-left:20%;

}
.divMapa{
	background-color: #ee5743;
	margin-top: 30px;

}
.menu{
	
	background-color: white;
}
#laImagen{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	margin-left: 20%;
}
.footer-container, #elFooter{
	
	background-color: #ee5743;
}
