/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

body {
   
    background-color: black;
}

#elFooter{
    text-align: center;
}
#map-canvas {
    
    width:600px;
    height:350px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    display: inline-block;
    background-image: url('../img/arrastra.png');
    
    
 }
 .icono{
    margin-left: 8%;
 }
 .title{
    font-family: 'lobster Two', 'Regular';
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
 }
 .cabecera{
    background-image: url('../img/bannerNombre.png');
    height:400px;
    width:100%;
 }
#lienzo{
    background-image: url('../img/arrastra.png');
    float: left;
    margin-top: 8%;
    margin-left:20%;

}
.divMapa{
    background-color: black;
    margin-top: 20px;

}
.menu{

    background-color: black;
}
#laImagen{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-left: 20%;
}
.footer-container, #elFooter{
    
    background-color: black;
}