/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

body {
   
    background-color: black;
}


    
#map-canvas {
    
    width:550px;
    height:380px;
    margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 0px;
    display: inline-block;
   background-color: gray;
    
    
 }


 #cuadrado {
    border:1px dotted yellow;
   
    margin-left: 2%;
     margin-top: 5px;
       margin-bottom: 20px;

    
}


#menu{
    padding-top: 5px;
}

 .icono{
    margin-left: 8%;
 }
 
 .cabecera{
    background-image: url('../img/bannerNombre.png');
    height:350px;
    width:100%;
        background-repeat: no-repeat;
 }

.divMapa{
    background-color: black;
    margin-top: 20px;

}

#laImagen{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-left: 20%;
}
.footer-container{
    
    background-color: black;
    text-align: center;
}




       

p{color:#ffde00;

 margin-left: 2%;}